<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
<% var pageCount = 1; var currentPage = 2%>

<% include ../partials/nav.ejs %>

<div class="container-fluid">
    <div class="">
        <h1>Add a Listing</h1>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <h3>Image:</h3>Saved files:
                <div class="well">
                    <div class="imgGallery">
                    </div>
                    <br>
                    <% if (pageCount > 1) { %>
                    <ul class="pagination">
                        <% if (currentPage > 1) { %>
                        <li><a href="/?page=1">&laquo;</a></li>
                        <% } %>
                        <% var i = 1;
                            if (currentPage > 5) {
                                i = +currentPage - 4;
                            } %>
                        <% if (i !== 1) { %>
                        <li class="disabled"><a href="#">...</a></li>
                        <% } %>
                        <% for (i; i<=pageCount; i++) { %>
                        <% if (currentPage == i) { %>
                        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                        <% } else { %>
                        <li><a href="/?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == (+currentPage + 4)) { %>
                        <li class="disabled"><a href="#">...</a></li>
                        <% break; } %>
                        <% } %>
                        <% if (currentPage != pageCount) { %>
                        <li><a href="/?page=<%= pageCount %>">&raquo;</a></li>
                        <% } %>
                    </ul>
                    <% } %>
                </div>

                <form action="/uploadFile">
                    <input type="file">
                    <!--<div class="">
                        <input class="file-path form-control" id="file-path" type="text" placeholder="Upload your file">
                        <label for="file-path" class=""></label>
                    </div>-->
                </form>
            </div>
            <div class="col-md-6 container-fluid">
                <form class="text-center" action="/addItem" id="insertItemForm" method="post" enctype="multipart/form-data">
                    <div>
                        <div class="text-left">
                            <div>
                                <input type="hidden" id="id" name="id" value="<%= id %>">
                            </div>
                            <div class="md-form">
                                <input type="text" id="name" name="name" class="form-control" placeholder="Name">
                                <label for="name"></label>
                            </div>
                            <div class="md-form">
                                <input type="number" id="cost" name="cost" class="form-control" placeholder="Cost">
                                <label for="cost"></label>
                            </div>
                            <div class="md-form">
                                <label for="desc">Description</label>
                                <textarea id="desc" name="desc"></textarea>
                            </div>

                            <div>
                                <label for="cat">Category</label>
                                <select id="cat" name="cat" class="pull-left">
                                    <option disabled selected>Pick a Category</option>
                                    <% cat.forEach(function(category) { %>
                                    <%- include('../partials/selectOption.ejs', {category}) %>
                                    <% })%>
                                </select>
                            </div>
                            <div class="container row">

                            </div>

                            <br>
                            <button type="button" onclick="addItem()" class="btn">Save Listing</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../js/main.js"></script>
</html>
